// Here you can add other styles

// .sidebar-toggler {
//     background-color: unset !important;
// }

:root {
    --themeprimary: #560BAF;
    --themeSelectedColor: #00C0F3;
    --darkblue:#023349;
    --danger:#FC5353;
    --themegreen:#00C365;
    --darkgrey:#747474;
    --white:#FFFFFF;
    --grey:#5B5B5B;
}

.sidebar {
    background-color: #000F24;
    
}
.sidebar-nav .nav-link {
    color:#00C0F3;
    border-bottom-width: 1px;
    border-bottom-color:white;
    margin-left: 10px;
}
.QQ-logo{
    border-bottom-color:white;
}
.logo-dropdown{
    margin-left: 0px;
    
}
.text-dropdown{
    height: 30px;
    width: 85%;
    border-radius: 4px;
    margin-top: 15px;
    margin-inline: auto;
    display: block;
}
.simplebar-content {
    overflow: unset;
    height: calc(100vh - 110px);
}
.simplebar-content>li.nav-item:last-child {
    position: absolute;
    bottom: 0;
    z-index: 9;
    right: 0;
    width: 100%;
    border-top: 1px solid;
}
.simplebar-content>li.nav-item:last-child > a {
    border: none;
}
.sidebar-brand.QQ-log {
    border-bottom: 1px solid;
   
}
.text-payment {
    color: #023349;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 0;
    font-size: 18px;
}

.header-divider {
    flex-basis: unset;
}
.avatar-img {
    width: 27px;
    height: auto;
    border-radius: 50em;
   // margin-left: -55px;

}
//  .header-nav .dropdown-menu {
//     position: absolute;
//     display: block;
//     right: 0;
// }
.btnclick {
    border: 0px;
    font-size: 13px;
    margin-left: 20px;
   font-weight:400;
    
}
.btndashboard {
    margin-top: -10px;
}
.payablebtn {
    border: 0px;
    font-size: 13px;
    margin-left: 20px;
   font-weight:400;
    
}
.receivebtn {
    border: 0px;
    font-size: 13px;
    margin-left: 20px;
   font-weight:400;
    
}
label.logn-txt {
    text-decoration: underline;
}
label.forgt-txt {
    text-decoration: underline;
}
h2.header-text {
    text-align: center;
}
.accnt-txt {
    text-align: center;
    margin-top: 10px;
}
.summary-text {
    width: 100%;
    padding: 0 30px;
    margin: 30px 0 0;
}
.text-section {
    display: flex;
}
.headertext-dropdown {
    height: 30px;
    width: 100%;
    border-radius: 4px;
    margin-top: 10px;
    margin-inline: auto;
    display: block;
}
.text-invoice {
    margin-left: 15px;
    color: #023349;
    font-weight: 700;
    margin-top: 10px;
}
.text-await {
    font-size: 8px;
    margin-left: 15px;
    color: #747474;
    margin-top: 0px;
}

.text-price {
    font-size: 12px;
    color: #00C0F3;
    margin-left: 15px;
    font-weight: bold;
}
.border-right {
    border-right: 1px solid #ccc;
    padding-right: 15px;
}
.text-overdue {
    font-size: 8px;
    margin-left: 15px;
    color: #747474;
    margin-top: 0px;
}
.text-overduep {
    font-size: 12px;
    color:#FC5353;
    margin-left: 15px;
    font-weight: bold;
}
.invoice-box {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
.header.header-sticky {
    position: sticky;
    top: 0;
    z-index: 1029;
    padding: 0px;
}
.sum-card {
    display: flex;
    padding-left: 20px;
}
.text-date {
    font-size: 8px;
    margin-left: 10px;
    color: #747474;
    margin-top: 0px;
}
.text-dateprice {
    font-size: 12px;
    color: #00C0F3;
    margin-left: 10px;
    font-weight: bold;
}
.invoice-boxjan {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
}
.border-solid {
    border-right: 1px solid #ccc;
    margin-right: 0;
    margin-left: 50px;
}
.text-invoicepay {
    margin-left: 15px;
    color: #023349;
    font-weight: 700;
    margin-top: 0px;
}
.border-rightdate {
    border-right: 1px solid #ccc;
    padding-right: 20px;
}
.main-card-box {
    display: flex;
}
.card {
    padding-block: 10px;
}
.text-bill {
    padding-left: 30px;
}
.text-scheduled {
    padding-left: 40px;
}
.spacecard {
    padding-right: 40px;
}
.card-debitcard {
    padding-top: 20px;
}
.text-bankacc {
    font-size: 15px;
    font-weight: 700;
    color: #023349;
    padding-left: 30px;
}
.account {
    border-left: 3px solid;
    border-left-color: #00C0F3;
    padding-bottom: 0;
}
.text-headercell{
    color: #747474;
    font-size: 12px;
}
.text-tablerow
{
    color: #747474; 
    font-size: 12px;
    
}
.lgnauth {
    width: 100%;
    background: #00C0F3;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
}
.lgnform {
    width: 60%;
    padding-left: 20%;
    padding-right: 5%;
    padding-block: 50px;
}
h2.lgntxt {
    color: black;
    text-align: center;
}
img.eyeimge {
    /* position: absolute; */
    left: -40px;
    z-index: 9;
    display: block;
    position: relative;
 
}
h2.header-txt {
    color: black;
    text-align: center;
}
.lgnform span.input-group-text {
    background-color: transparent;
    border: none;
    margin-right: -40px;
    position: relative;
    z-index: 9;
}
.lgnform input {
    padding-left: 40px;
    border-radius: 100px !important;
    padding-block: 10px;
}
.lgnform button.btn.btn-primary.px-4 {
    width: 200px;
    margin-inline: auto;
    border-radius: 100px;
}
.logobg {
    width: 40%;
    background-image: url("../assets/Images/bgauth.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding-inline: 10% 5%;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}
p.qqtxt {
    text-align: justify;
}
.text-cell {
    padding-left:50px;
    font-weight: 700;
}
.text-datacell
{
    color:#FC5353;
}
.text-datacashcell
{
    color:#00C365;
}
tr.text-tablerow > *:first-child {
    padding-left: 30px;
}
.card.text-creditcard {
    margin-top: 30px;
    border-left: 3px solid;
    border-left-color:var(--themeSelectedColor);
    padding-bottom: 0;
}
table.table {
    margin-bottom: 0;
}
table.table tbody > tr.text-ctablerow:first-child > td:nth-of-type(1) {
    color: #747474 !important;
}
table.table tbody>tr:nth-child(6)>th{
    font-weight:800;
    
}
table.table tbody>tr:nth-child(6)>td:nth-of-type(1)
{
    font-weight:800;
}
.text-ctablerow
{
    color: #747474; 
    font-size: 12px;
    
}
.text-cctablerow
{
    color: #747474; 
    font-size: 12px;
    margin-top: 20px;
    
}
.text-category {
    padding-left:50px;
    font-weight: 700;
}
.text-tabs {
    margin-top: 25px;
}
th.text-categorycell {
    border: unset;
}
td.text-cdatacell {
    border: unset;
}
table.table tbody > tr.text-cctablerow:first-child 
{
    border-bottom: 1px solid;
    border-bottom-color: #000F24;
}
.Payable ul.tab-text.nav.nav-tabs button {
    color: #5B5B5B;

   // background-color: #747474;
}
.text-textbody{
    padding-left: 25px;
}
input.searchinputform {
    margin-left: 20px;
    padding-left: 20px;
   height:'50%';
   width: 200px;
  
}

input.searchinputform:focus {
   border-color: unset;
   box-shadow: none;
}
//bill css
.bill-section {
    display: flex;
    //justify-content: space-between;
    gap:20px;
    
}

.outstanding-bill-text {
    color: #023349;
    font-weight: bold;
    margin-top: 12px;
}
.outstanding-section {
    width: 30%;
    padding-left: 20px;
    padding-top: 20px;
}
.off-canvas {
 
    background-color: #000F24;
}
p.card-text.bills-text {
    margin-bottom: 0px;
    font-size: 14px;
}
p.card-text.bills-card-text {
    margin-bottom: 0px;
    font-size: 14px;
}
.section-card {
    width: 70%;
}
.card-section {
    display: flex;
    justify-content: space-between;
}
p.tax-text {
    font-size: 12px;
}
button.btn-reject {
    border-radius: 4px;
    padding-left: 20px;
    background-color: unset;
}
svg.icon.btn-icon {
    position: absolute;
    margin-top: 6px;
    padding-left: 4px;
}
.button-bill {
    justify-content: flex-end;
    display: flex;
    gap: 10px;
}
button.btn-Accept {
    background-color: #00C0F3;
    border-color: #00C0f3;
    color: white;
    padding-left: 20px;
    border-radius: 4px;
}
svg.icon.btn-icon-right {
    position: absolute;
    color: white;
    padding-left: 4px;
    margin-top: 5px;
}
.logo-icon {
    display: flex;
}
p.createxero-text {
    margin-top: 10px;
    color: grey;
    font-size: 12px;
}
img.img-logo {
    height: fit-content;
}
.logo-text {
    margin-left: 5px;
}
p.company-text {
    font-weight: bold;
    color: black;
    font-size: 13px;
    margin-top: -18px;
}
.bg {
    background-color: #AAE3F2;
    margin-left: -15px;
    margin-right: -15px;
    border-bottom: 1px solid #8E8E8E;
}
.edit-bill {
    display: flex;
    padding-left: 20px;
    padding-top: 12px;
}
img.logo-not {
    height: fit-content;
    padding-top: 4px;
}
p.approvalbill-text {
    color: #00AEEF;
    font-size: small;
    padding-left: 5px;
}
.editbill-section {
    display: flex;
    padding-left: 135px;
}
img.edit-logo {
    height: fit-content;
    margin-top: 4px;
}
p.editbill-text {
    color: #00AEEF;
    font-size: 13px;
    margin: 2px;
}
.date-section {
 
    //  color: #8E8E8E;
    margin-top: 10px;
}
.main-section {
    display: flex;
}
p.date-text {
    font-size: small;
    color: #8E8E8E;
}
p.datenov-text {
    color: black;
    font-weight: bold;
    margin-top: -15px;
}
p.duedate-text {
    margin-top: 10px;
    font-size: 12px;
    margin-left: 70px;
    color: #8E8E8E;
}
.year-text
{
    color: black;
    font-weight: bold;
    margin-top: -15px;
    margin-left: 70px;  
}
.ref-text
{
    margin-top: 10px;
    font-size: 12px;
    margin-left: 80px;
    color: #8E8E8E;   
}
.inv-text
{
    color: black;
    font-weight: bold;
    margin-top: -15px;
    margin-left: 80px;   
}
tr.table-section {
    font-size: 12px;
    color: #8E8E8E;
}
.text-right {
    text-align: right;
}
.border-bottom-none {
    border-bottom: none;
    font-size: 12px;
    color: #8E8E8E; 
}
.file-section {
    display: flex;
    font-size: 12px;
    color: #8E8E8E;
    width: 70%;
    margin-top: 30px;
}
img.dropdown-logo {
    height: fit-content;
    margin-left: 5px;
    margin-top: 15px;
}
p.open-text {
    margin-top: 15px;
    margin-left: 5px;
}
img.file-logo {
    margin-left: 20px;
    height: fit-content;
}
.file-table {
    display: flex;
}
.tble-section {
    margin-left: 20px;
}
.borderbottom {
    border-bottom: none;
    border-color: white;
}
th.aud-text {
    color: black;
}
tr.table-section1 {
    font-size: 11px;
    color: #8E8E8E;
}
.total-section{
    display:flex;
    font-size: 11px;
    color: #8E8E8E;
}
.xaud-text {
    color: black;
    margin-left: 70px;
}
p.workflow-text {
    color: #023349;
    font-size: small;
    font-weight: bold;
    margin-top: 10px;
}
.tbale-row
{
    font-size: 11px;
}
.bottom-border{
    border-bottom: 1px solid #8E8E8E;
}
img.rightdrop-logo {
    margin-left: 10px;
}
button.btn-step {
    margin-left: 5px;
}
.textarea-section {
    margin-top: 10px;
}
div#root {
    overflow-x: hidden;
}
.bg-color {
    background-color: #000F24;
    position: fixed;
    width: 51vw;
    height: calc(100vh - 64px);
    z-index: 99999;
    bottom: 0;
    left: 0;
}
.header.header-fixed.header-section {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: calc(100% - 16rem);
}
.wrapper.d-flex.flex-column {
    padding-top: 73px;
}
input.form-control.form-control-sm.inputsearch {
    width: auto;
    margin-top: 20px;
    margin-left: 15px;
}
img.filter-icon {
    height: fit-content;
    margin-top: 5px;
    margin-left: 4px;
}
.filter-section {
    /* justify-content: end; */
    display: flex;
    margin-top: 20px;
    margin-right: 30px;
}
.search-section {
    display: flex;
    justify-content: space-between;
}
.para-section {
    display: flex;
    font-size: 10px;
    color: #8E8E8E;
}
.des-text {
    border-right: 1px solid #8E8E8E;
    height: 15px;
    padding-right: 120px;
    margin-left:120px
}
.dat-text
{
    border-right: 1px solid #8E8E8E;
    height: 15px;
    padding-right: 40px;
    margin-left:100px;
}
.amt-text
{
    
    border-right: 1px solid #8E8E8E;
    height: 15px;
    padding-right: 25px;
    margin-left:35px;
}
.in-text{
        
    border-right: 1px solid #8E8E8E;
    height: 15px;
    padding-right: 50px;
    margin-left:50px;
}
.assgn-text{
        
    border-right: 1px solid #8E8E8E;
    height: 15px;
    padding-right: 40px;
    margin-left:45px;
}
.stus-text
{
        
    margin-left:55px;
}
.card.card.main {
    /* padding-left: 40px; */
    margin-inline: 15px;
    border-left-color: #00C0F3;
    border-width: 2.5px;
    height: 45px;
}
.content-section {
    display: flex;
}
.column-0 {
    margin-left: 35px;
    font-size: 12px;
    color: #8E8E8E;
    border-right: 1px solid #8E8E8E;
    height: 15px;
    padding-right: 19px;
}

.column-1 {
    margin-left: 35px;
    font-size: 12px;
    color: #8E8E8E;
    border-right: 1px solid #8E8E8E;
    height: 15px;
    padding-right: 19px;
}
.column-2 {
    margin-left: 35px;
    font-size: 12px;
    color: #8E8E8E;
    border-right: 1px solid #8E8E8E;
    height: 15px;
    padding-right: 25px;
}
.column-3 {
    margin-left: 65px;
    font-size: 12px;
    color: #8E8E8E;
    border-right: 1px solid #8E8E8E;
    height: 15px;
    padding-right: 60px;
}

.column-4 {
    margin-left: 35px;
    /* margin-top: -8px; */
    font-size: 12px;
    color: #8E8E8E;
    border-right: 1px solid #8E8E8E;
    height: 15px;
    padding-right: 19px;
    align-content: center;

}
.column-5 {
    margin-left: 35px;
    font-size: 12px;
    color: #8E8E8E;
    border-right: 1px solid #8E8E8E;
    height: 15px;
    padding-right: 50px;
}
.column-6 {
    margin-left: 35px;
    font-size: 12px;
    color: #8E8E8E;
  
}
.hidden {
    display: none;
    border: 0px;
}
p.dollar-amt {
    color: #097596;
    font-weight: bold;
    text-align: center;
}
p.traction-text {
    font-size: 10px;
    color: #8E8E8E;
    text-align: center;
}
p.traction-text {
    font-size: 10px;
    color: #8E8E8E;
    text-align: center;
}
.text-img {
    display: flex;
}
img.arrow-img {
 
    height: fit-content;
    margin-top: 12px;
    margin-left: 7px;
}
p.text-close {
    color: #5B5B5B;
    font-size: 15px;
}
p.sydtime-text {
    font-size: 10px;
    text-align: center;
    color: #8E8E8E;
    margin-top: -20px;
}
.avatar-badge {
    display: flex;
    margin-top:20px
}
p.dum-text {
    font-size: 10px;
    margin-top: 12px;
    width: 100%;
    margin-left: 8px;
}
.badge-ready {
    margin-left: 15px;
    margin-top: 7px;
}
.tab-section {
    background-color: #8E8E8E;
    border-radius: 50px;
    margin-top: 20px;
}
.tab-text {
    font: size 12px;
}
// .tab-text:hover {
//     background-color: #000F24;
//     border-radius: 70px;
//     color: white;
// }
.tab-text .MuiSvgIcon-root {
    font-size: 15px; /* Adjust the size as needed */
  }
  .Tab-bar .MuiTab-root {
    height: '20%'; /* Adjust the height as needed */
  }
  
  .tab-text .MuiTab-label {
    font-size: 10px; /* Adjust the font size as needed */
  }
  .Tab-bar::-webkit-scrollbar {
    width: 8px; /* Customize the scrollbar width */
    height: 8px; /* Customize the scrollbar height */
  }
  
  .Tab-bar::-webkit-scrollbar-thumb {
    background-color: #ccc; /* Customize the scrollbar thumb color */
  }
  .tab-root {
    color: inherit;
    opacity: 1;
    transition: none; /* Remove transition effects */
  }

  
 
  
//   .tab-selected {
//     background-color: transparent !important; /* Remove selected tab background color */
//   }
  .tab-text.css-h0q0iv-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: #FFFFFF !important;
}
.tab-text.css-h0q0iv-MuiButtonBase-root-MuiTab-root {
    
         min-height: 0px; 
       
    
}
.tab-text.css-1wfr3ij-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color:#FFFFFF !important;
}
.tab-text.css-1wfr3ij-MuiButtonBase-root-MuiTab-root {
    min-height: 0px; 
}
p.query-text {
    margin-top: 20px;
    color: #023349;
    font-weight: bold;
}
tr.row-border {
    border-bottom: 1px solid #8E8E8E;
}
th.querytable-text {
    color: black;
    font-size: small;
}
tr.exptble {
    border-bottom: 1px solid gray;
}
th.valuetable-text {
   
    padding-left: 160px;
    font-size: 12px;
}
th.headertble {
    font-size: 14px;
}
button.transction-tab-button[select=selected] {
    color: #fff !important;
    background-color: #000F24 !important;
    width: 66%;
}
p.exp-for-text {
    color: black;
    font-size: small;
    margin-top: 20px;
}
p.dum-text {
    font-size: 13px;
    margin-top: 12px;
    width: 100%;
    margin-left: 8px;
    font-weight: 500;
}
button.btn-edt {
    background-color: #00C0F3;
    color: white;
    border: unset;
    padding-left: 0px;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    margin-left: 45%;
}
img.edit-icon {
    position: absolute;
    color: white;
    margin-top: 5px;
    padding-left: 5px;
}
.buton-edit {
    margin-top: 20px;
}
.dropdown-menu {
    position: relative;
    display: block;
}
p.what-you-want {
    margin-top: 15px;
    color: #000F24;
    font-size: 14px;
    font-weight: bold;
}
.drop-select-box > .MuiSelect-select {
    padding: 1px 35px 5px 10px !important;
  
}
li.nav-item.dropdown.show ul.dropdown-menu.show {
    transform: unset !important;
    top: 50px !important;
    right: 0px !important;
    left: unset !important;
    display: block !important;
}
li.nav-item.dropdown ul.dropdown-menu {
    display: none !important;
}

button.transction-tab-button {
    padding: 8px 10px !important;
    height: auto !important;
    color: #000 !important;
    font-size: 12px !important;
    line-height: 1 !important;
    min-height: unset !important;
    width: calc(100% / 3);    
    border-radius: 100px;
}
button.transction-tab-button[select="selected"] {
    color: #fff !important;
    background-color: #000F24 !important;
}
.MuiTabs-flexContainer.css-heg063-MuiTabs-flexContainer {
    justify-content: center;
    overflow: hidden;
    border-radius: 100px;
}
.btnedit {
    font-size: 13px;
}
td.datatxt {
    font-size: 13px;
    color: #000F24;
    /* left: -20px !important; */
}
svg.icon.iconchck {
    color: #00C365;
}
table.transcationtble {
    width: 100%;

}
.trasaction_data_table {
     padding-right: 40px; 
    // border-left: 3px solid;
    // border-left-color: #00C0F3;
    padding-bottom: 0;
    margin-left: 20px;
  
}
.trasaction_data_table .sc-hLseeU.sc-eDDNvR.sc-irTswW.dqfNny.gSVZoG.IHqlj.rdt_TableCol {
    border-right: 1px solid #ccc;
    padding-right: 15px;
    height: 20px;
    margin-top: 13px;
    text-align: center;
    justify-content: center;
}
.trasaction_data_table div#cell-1-undefined {
    border-right: 1px solid #ccc;
    padding-right: 15px;
    height: 20px;
    margin-top: 13px;
}
.trasaction_data_table div#cell-2-undefined {
    border-right: 1px solid #ccc;
    padding-right: 15px;
    height: 20px;
    margin-top: 13px;
}
.trasaction_data_table div#cell-3-undefined {
    border-right: 1px solid #ccc;
    padding-right: 15px;
    height: 20px;
    margin-top: 13px;
    justify-content: center;
}
.trasaction_data_table div#cell-4-undefined {
    border-right: 1px solid #ccc;
    padding-right: 15px;
    height: 20px;
    margin-top: 13px;
    justify-content: center;
}
.trasaction_data_table div#cell-5-undefined {
    border-right: 1px solid #ccc;
    padding-right: 15px;
    height: 20px;
    margin-top: 13px;
    justify-content: center;
}
.trasaction_data_table div#cell-6-undefined {
    border-right: 1px solid #ccc;
    padding-right: 15px;
    height: 20px;
    margin-top: 13px;
    justify-content: center;
}
.trasaction_data_table div#cell-7-undefined {

    justify-content: center;
}
.trasaction_data_table div#row-0 {
    background-color: white;
  
}
.trasaction_data_table div#row-2 {
    background-color: white;
   
}
.trasaction_data_table div#row-4 {
    background-color: white;
 
}
.trasaction_data_table div#row-6 {
    background-color: white;
  
}
.trasaction_data_table div#row-8 {
    background-color: white;
}
.trasaction_data_table .sc-dmqHEX.jWpMhA.rdt_TableHeadRow {
    background-color: transparent;
}
.trasaction_data_table .itmdas {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.sc-dnwKUv.hXLGuA.trasaction_data_table {
    padding-bottom: 20px;
}
.trasaction_data_table .rdt_TableBody .rdt_TableRow {
    border-left: 3px solid #00C0F3 !important;
    border-radius: 5px;
    border: none;
}
.trasaction_data_table .sc-dmqHEX.jWpMhA.rdt_TableHeadRow {
    background-color: transparent;
    border-bottom: unset;
}
.trasaction_data_table .sc-beqWaB.ewhdCu.rdt_Table {
    background-color: transparent;
}
.modal.fade.show.tablemodalbox {
    margin-top: 10%;
}
.partext {
    display: flex;
    flex-direction: row;
}
.drpbtn {
    background-color: transparent;
    border-color: unset;
    color: black;
    border: unset;
}
p.txtp {
    margin-top: 7px;
}
ul.dropdown-menu.menudrop {
    position: absolute;
    display: block;
    margin-top: 40px;
}
.input-group.inptgrp {
    width: 45%;
}
.dtepckr {
    position: absolute;
    z-index: 1;
    top: 40%;
}
svg.edticon {
    margin-left: 10px;
}
.btnEdit {
    font-size: 13px;
    margin-left: 15px;
}
p.typtx {
    margin-top: 10px;
    font-weight: 600;
}
.modal.fade.show.tablemodalboxfilter {
    margin-top: 5%;
}
.react-datepicker-wrapper {
    width: 100%;
}
input.date-picker-input {
    width: 100%;
    border-radius: 5px;
    height: 40px;
    padding-left: 15px;
}
input.paybledtpckr {
    border: none;
}
// .trasaction_data_table .sc-dmqHEX.jWpMhA.rdt_TableHeadRow {
//     display: none;
// }

.input-group-wrapper {
    width: 100%;
    max-width: 400px; /* Adjust as per your requirement */
    margin: 0 auto;
  }

.bill-section .offcanvas.offcanvas-start.show { width: 50%; }

.sidebar-fixed .sidebar-brand.QQ-log { padding: 20px 0px; }

.bill-section .offcanvas.offcanvas-start { top: 73px; }

.icon-button-wrapper {
    display: flex;
    align-items: center; /* Vertically center-align the items */
  }
  
  .icon-button-wrapper .btn-icon-right {
    font-size: 20px; /* Adjust the size as needed */
    font-weight: bold; /* Adjust the weight as needed */
    margin-right: 8px; /* Adjust the spacing as needed */
  }

  input.paybledtpckr.react-datepicker-ignore-onclickoutside {
    width: 100%;
    border: none !important;
    outline: none !important;
}
p.compny-text {
    margin-top: -20px;
    font-size: 10px;
    color: grey;
    text-align: center;
    /* margin-bottom: 7px; */
}
.border-bottom.fullbrder {
    width: calc(100% + 32px);
    margin-left: -16px;
}
button.history-btnn {
    border: none;
    background: transparent;
    width: 100%;
    margin-left: 100%;
    margin-top: 5px;
}
button.comment-btnn {
    background: transparent;
    border: none;
    width: 100%;
    text-align: center;
    margin-left: 25%;
    padding: 15px;
}
.icontext-img {
    display: flex;
}
button.btn-batchpayment {
    background-color: #00C0F3;
    color: white;
    border: none;
    width: 25%;
    border-radius: 5px;
    
}
.row.btn-paymenttxt {
    gap: 50%;
}
@media (max-width: 1024px){
    .row.btn-paymenttxt {
        gap: 43%;
    }
}
@media (max-width: 991px){
    .row.btn-paymenttxt {
        gap: 28%;
    }
}